@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Mooli', sans-serif;
    color: #f5f5ff;
}

/* Icon */
i{
    margin: 0 5px;
    cursor: pointer;
}

/* Sections */
.top-bar{
    background-color: #333;
    color: #fff;
    font-weight: bold;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 36px;
    padding: 0 20px;
}
.main-section{
    display: flex;
}
.side-panel-container{
    width: 400px;
    height: 100vh;
    background-color: #fff;
    color: #333;
    padding: 20px;
    position: fixed;
    left: -400px;
    transition: 0.3s ease-in-out;
}
.side-panel-container.active{
    left: 0;
}
.task-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Elements */
.side-panel-toggle{
    position: absolute;
    right: -10%;
    top: 40%;
    font-weight: bold;
    font-size: 36px;
    background-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    z-index: -100;
}

/* Side panel icon */
.side-panel-container.active .fa-arrow-left{
    display: inline;
}
.side-panel-container.active .fa-arrow-right{
    display: none;
}
.side-panel-container .fa-arrow-left{
    display: none;
}
.side-panel-container .fa-arrow-right{
    display: inline;
}
/* tasks */
.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6a6a6a;
    color: #fff;
    width: 90%;
    padding: 15px 25px;
    margin: 10px 0;
}
.task.low{
    border-left: 4px solid green;
}
.task.medium{
    border-left: 4px solid yellow;
}
.task.high{
    border-left: 4px solid red;
}
.new-task-btn{
    border: none;
    background-color: #fff;
    color: #333;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    padding: 20px 30px;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s ease-in-out;
}


/* Done Tasks */
.task .fa-check-square{
    display: none;
}
.task.done .fa-check-square{
    display: inline;
}
.task.done .fa-square{
    display: none;
}
.task.done .task-name{
    text-decoration: line-through;
}
.task.done {
    border-left: 4px solid dimgray;
    color: #eee;
    background-color: #56565650;
}

/* Link Style */
a{
    text-decoration: none;
    color: inherit;
}

.project-nav{
    display: flex;
    align-items: center;
}
.project-nav i{
    display: none;
    border: 2px solid black;
    border-radius: 50%;
    padding: 2px 5px;
    margin: 0 20px;
}
.project-nav.active i{
    display: inline;
}
.project-nav.active i:active{
    transform: scale(1.1);
}

/* List Styles */
ul{
    list-style: none;
    margin: 0;
    padding: 0 20px;
}
li{
    color: #9d9d9d;
    font-size: 18px;
    margin: 20px 0;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}
li:hover{
    transform: scale(1.1);
}
.stat-mark{
    color: #333;
    font-weight: bold;
}
li.active{
    color: #333;
}
.stat-mark{
    display: none;
}
li.active .stat-mark{
    display: inline;
}

/* new task form */
.new-task-btn.open{
    width: 300px;
    height: 300px;
}

.new-task-form{
    display: none;
}
.new-task-btn.open .new-task-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
input{
    outline: none;
    border: none;
    border-bottom: 2px solid #333;
    background-color: transparent;
    color: #333;
}
input[type="submit"]{
    border: none;
    background-color: #333;
    color: #fff;
    font-family: inherit;
    border-radius: 5px;
    transition: transform 0.1s ease;
}
input[type="submit"]:active{
    transform: scale(1.05);
}

.btn.close{
    font-family: inherit;
    background-color: rgb(237, 147, 114);
    color: #fff;
    border-radius: 5px;
    border: none;
    transition: transform 0.1s ease;
}
.btn.close:active{
    transform: scale(1.05);
}
/* new project form */

.new-project-form{
    display: none;
}
#add-project-btn.open{
    color: #333;

}
#add-project-btn.open .new-project-form{
    color: #333;
    display: flex;
    gap: 5px;
    margin-top: 10px;
    font-size: 14px;
}
.new-project-form input[type="text"]{
    width: 35%;
}
/* priority buttons */

.priority-btns{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.priority-btns button{
    border: none;
    padding: 5px 10px;
    font-family: inherit;
    color: #333;
    border-radius: 5px;
}
.priority-btns button:active{
    transform: scale(1.1);
}
.low-btn{
    background-color: rgb(125, 167, 125);
}
.med-btn{
    background-color: rgb(207, 207, 131);
}
.high-btn{
    background-color: rgb(203, 108, 108);
}

/* responsive options */
@media screen and (max-width: 768px) {
    .side-panel-container{
        width: 300px;
        left: -300px;
        font-size: 12px;
    }
    .side-panel-toggle{
        right: -13%;
    }
}